@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');


 body{
    background-image: url(../img/fondo.png);
    background-repeat: repeat-x;
    background-color: black;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    nav{
        display: flex ; 
        color: black;
        justify-content: end;
    }
    img{
        
    }
}

h1 {
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 90px;
    text-align: center;
}